Checks: >
  -*,
  bugprone-*,
  performance-*,
  modernize-use-nullptr,
  readability-misleading-indentation

WarningsAsErrors: ''          # не валим по предупреждениям
HeaderFilterRegex: '^(libcompressor|compressor)/.*'
